:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  flex: 0 0 auto;
}

.app-common-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 auto;
  color: currentColor;
}
